services:
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - ./config:/config
      - /home/ubuntu/Downloading:/downloads
      - ../gluetun_tmp/forwarded_port:/pia/forwarded_port
    # ports:
    #   - 8112:8112
    #   - 6881:6881
    #   - 6881:6881/udp
    network_mode: "container:gluetun"
    restart: unless-stopped
    
