services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    environment:
      - TZ=America/Chicago
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
    ports:
      - 9091:9091   # Transmission Web UI
      - 51413:51413 # Transmission Daemon
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./2666A_ca-tr_wg.conf:/gluetun/wireguard/wg0.conf
    restart: unless-stopped
