services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    environment:
      - TZ=America/Chicago
      - VPN_PORT_FORWARDING=on
      - VPN_SERVICE_PROVIDER=private internet access
      - OPENVPN_USER=[set]
      - OPENVPN_PASSWORD=[set]
      - PORT_FORWARD_ONLY=true
      - SERVER_REGIONS=CA Toronto
    ports:
      - 8112:8112     # Deluge Web UI
      - 6881:6881     # Deluge Daemon (TCP, default)
      - 6881:6881/udp # Deluge Daemon (UDP)
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./gluetun_tmp:/tmp/gluetun
    restart: unless-stopped
